<!-- <div class="row" *ngIf="loading">
    <div class="col-md-12" *ngFor="let comment of comments; let i=index">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    email : {{comment.email}}
                </h4>

                <h5>
                    {{comment.name}}
                </h5>

                <p class="card-sub-title">
                    {{comment.body}}
                </p>

            </div>
        </div>
    </div>
</div>
 -->
