<div class="table-responsive">
    <table class="table align-middle  table-nowrap table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col" style="width: 70px;">#</th>
                <th scope="col" style="width: 70px;">col-1</th>
                <th scope="col" style="width: 70px;">col-2</th>
                <th scope="col" style="width: 70px;">col-3</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of allComments">
                <td>
                    <div>
                        <img class="rounded-circle avatar-xs" src="assets/images/test.jpg" alt="">
                    </div>
                </td>
                <td>
                    <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">{{item.postId}}
                            {{item.name}}</a></h5>
                    <p class="text-muted mb-0">{{item.email}}</p>
                </td>
                <td>{{item.body}}</td>
                <td>
                    <div>
                        <a class="badge badge-soft-primary font-size-11 m-1">{{item.id}}</a>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>